@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Source Serif 4", serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.4 !default;

$heading-font-weight: 700 !default;

$spacing-unit:     30px !default;

$color-black: #272727;
$color-gray: #FBF6FC;
$color-orange: #EB4A3F;

$text-color:       $color-black !default;
$background-color: rgba(241,242,242,.3) !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$column-1: 86px;
$column-3: 320px;
$column-5: 554px;
$column-6: 672px;
$column-8: 786px;
$column-10: 1142px;
$column-12: 1376px;
$gutter-width: 32px;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
