@import "../node_modules/rfs/scss";

// Variables

:root {

    --border-radius: 20px;
    --color-black: #272727;
    --color-gray: #FBF6FC;
    --color-purple: #654C6A;
    --color-yellow: #FFB91D;
    --font-family--heading: "Playfair Display", serif;
    --font-family--body: "Source Serif 4",serif;

}

// Typography

body {

    font-family: var(--font-family--body);
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.45;
    color: var(--color-black);
    @include padding-bottom(4rem);

    &::before {

        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-image: url(../../assets/pattern.svg), url(../../assets/pattern-02.svg);
        background-repeat: no-repeat;
        background-position: top right -10vw, top 20vw right 75vw;
        background-size: auto 120%, 100% auto;
        z-index: -1;

    }

}

h1, h2, h3, h4, h5, h6 {

    font-family: var(--font-family--heading);
    font-weight: 700;
    line-height: 1.1;

}

// Layout

.container {

    @include margin-left(2rem);
    @include margin-right(2rem);

}

    // Header

    .home #site-header #site-title {

        h1 {
                
            @include font-size(2.438rem);

        }

    }

    #site-header {

        display: flex;
        justify-content: center;

        &::after {

            content: '';
            display: block;
            background-image: url(../../assets/header.svg);
            background-repeat: no-repeat;
            background-position: top right 32px;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: .1;

            @media screen and (min-width: 1025px) {

                opacity: 1;

            }

        }

        #site-title {

            display: inline-block;
            @include margin-top(2rem);
            
            h1 {
                
                display: inline-block;
                line-height: 1.35;
                text-align: center;
                overflow: hidden; /* Ensures the content is not revealed until the animation */
                border-right: 4px solid var(--color-yellow); /* The typwriter cursor */
                white-space: nowrap; /* Keeps the content on a single line */
                margin: 0 auto; /* Gives that scrolling effect as the typing happens */
                letter-spacing: .05em; /* Adjust as needed */
                animation: 
                    typing 3s steps(40, end),
                    blink-caret .75s step-end 10;
                @include font-size(1.562rem);
                
                /* The typing effect */
                @keyframes typing {
                    from { width: 0 }
                    to { width: 100% }
                }
                
                /* The typewriter cursor effect */
                @keyframes blink-caret {
                    from, to { border-color: transparent }
                    50% { border-color: var(--color-yellow); }
                }
                
                &:after {
                    
                    content: ".";
                    margin-right: 4px;
                    color: var(--color-purple);
                
                }
            
            }

            a {

                color: var(--color-black);
                text-decoration: none;

                &:hover {

                    text-decoration: none;

                }

            }

        }

    }

    // About

    #about {

        @include margin-top(4rem);
        @include margin-bottom(4rem);

        .inner {

            display: flex;

            @media screen and (min-width: 1025px) {

                width: calc(100% / 1.5);

            }

            @media screen and (min-width: 1921px) {

                width: 50%;

            }

        }

        figure {

            margin: 0;

        }

        p {

            @include font-size(1.25rem);
            @include margin-left(2rem);
            margin-top: 0;

        }

    }

    // Posts

    #posts {

        h2 {

            @include font-size(1.938rem);
            text-transform: uppercase;
            font-weight: 400;
            text-align: center;
            margin-top: 0;
            margin-bottom: 0;

            &::after {

                content: '';
                display: block;
                width: 6rem;
                height: 4px;
                background-color: var(--color-purple);
                margin-left: auto;
                margin-right: auto;
                @include margin-top(.812rem);

            }

        }

        ul {
            
            list-style-type: none;
            padding-left: 0;
            @include margin-top(2rem);
            margin-bottom: 0;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            @include rfs(2rem, column-gap);
            @include rfs(2rem, row-gap);

            @media screen and (min-width: 769px) {

                grid-template-columns: repeat(2, 1fr);

            }

            @media screen and (min-width: 1025px) {

                grid-template-columns: repeat(3, 1fr);

            }

            @media screen and (min-width: 1921px) {

                grid-template-columns: repeat(4, 1fr);

            }

            li {

                border: 1px solid var(--color-black);
                background-color: var(--color-gray);
                border-radius: var(--border-radius);
                text-align: center;
                @include padding(2rem);
                flex-grow: 1;

                span {
                    
                    display: block;
                    @include margin-bottom(.625rem);
                    text-transform: uppercase;
                    font-weight: 700;
                    color: var(--color-purple);

                }

                h3 {

                    margin-top: 0;
                    margin-bottom: 0;
                    text-transform: uppercase;
                    font-weight: 600;
                    @include font-size(1.562rem);

                }

                a {

                    text-decoration: none;
                    color: var(--color-black);

                    &:hover {

                        text-decoration: underline;

                    }

                }

            }

        }

    }

    // Post

    #post {

        display: flex;
        justify-content: center;

        .container {

            max-width: 786px;

        }

        .post--header {

            .post--date {

                @include font-size(.812rem);
                display: block;
                text-align: center;
                font-family: var(--font-family--heading);

            }

            .post--tag {

                display: block;
                @include margin-top(3rem);
                font-weight: 700;
                color: var(--color-purple);
                text-transform: uppercase;
                text-align: center;

            }

            h2 {

                @include margin-top(1rem);
                @include margin-bottom(3rem);
                @include font-size(3.062rem);
                font-weight: 900;
                text-align: center;

            }

        }

        .post--content {

            p, li {

                @include font-size(1.25rem);

            }

        }

    }
