/**
 * Header
 */
header {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

  header > .container {

    max-width: $column-10;
    margin: $gutter-width;
    width: 100%;

  }

    header > .container > .site-title {

      display: flex;
      justify-content: center;

    }

      header > .container > .site-title > h1 {

        font-size: 3.182rem;
        font-weight: 700;
        font-family: "Playfair Display", serif;
        

      }

        header > .container > .site-title > h1 > a {

          color: $color-black;
        
        }


        header > .container > .site-title > h1 > a:hover {

          text-decoration: none;

        }

/**
 * Main
 */
main {}

  main > aside {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

    main > aside > .container {

      max-width: $column-10;
      display: flex;
      margin: $gutter-width;
      width: 100%;

    }

      main > aside > .container > div {

        max-width: $column-6;
        width: 100%;
        display: flex;

      }

        main > aside > .container > div > div:first-child {

          max-width: $column-1;
          margin-right: $gutter-width;
          width: 100%;

        }

        main > aside > .container > div > div:last-child {

          max-width: $column-5;
          width: 100%;

        }

          main > aside > .container > div > div:last-child > p {

            font-style: italic;
            font-size: 1.250rem;

          }

  main > section {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

    main > section > .container {

      max-width: $column-10;
      margin: $gutter-width;
      width: 100%;

    }

      main > section > .container > h2 {

        font-family: "Playfair Display", serif;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1.938rem;
        text-align: center;
        margin-bottom: $gutter-width;

      }

      main > section > .container > ul {

        list-style-type: none;
        margin-left: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;

      }

        main > section > .container > ul > li {

          max-width: calc(($column-10 / 3) - $gutter-width);
          width: 100%;
          background-color: $color-gray;
          border: 1px solid $color-black;
          border-radius: 20px;
          margin-right: $gutter-width;
          padding: $gutter-width;
          text-align: center;

        }

          main > section > .container > ul > li > h3 {

            font-family: "Playfair Display", serif;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 1.562rem;

          }

            main > section > .container > ul > li > h3 > a {

              color: $color-black;

            }
