:root {
  --breakpoint-mobile-landscape: 481px;
  --breakpoint-tablet-portrait: 601px;
  --breakpoint-tablet-landscape: 769px;
  --breakpoint-laptop: 1025px;
  --breakpoint-desktop: 1281px;
  --breakpoint-desktop-xl: 1441px;
  --breakpoint-desktop-xxl: 1921px;
  --column-1: 86px;
  --column-3: 320px;
  --column-5: 554px;
  --column-6: 672px;
  --column-8: 786px;
  --column-10: 1142px;
  --column-12: 1376px;
  --gutter-width: 32px;
  --border-radius: 20px;
  --color-black: #272727;
  --color-gray: #FBF6FC;
  --color-purple: #654C6A;
  --color-yellow: #FFB91D;
  --font-family--heading: "Playfair Display", serif;
  --font-family--body: "Source Serif 4",serif;
}

body {

  background-image: url(../../assets/pattern.svg);
  background-repeat: no-repeat;
  background-position: top right -10em;
  background-size: auto 120%;
  background-attachment: fixed;

}

.graphic {

  @media screen and (min-width: 1025px) {

    background-image: url(../../assets/header.svg);
    background-repeat: no-repeat;
    background-position: top right 32px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

  }

}

header {

  display: flex;
  justify-content: center;
  padding-top: var(--gutter-width);

  .site-title {

    display: inline-block;

    h1 {

      display: inline-block;
      text-align: center;
      font-family: var(--font-family--heading);
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: 4px solid var(--color-yellow); /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: .05em; /* Adjust as needed */
      animation: 
      typing 3s steps(40, end),
      blink-caret .75s step-end 10;

      /* The typing effect */
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }

      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: var(--color-yellow); }
      }

      &:after {

        content: ".";
        margin-right: 4px;
        color: var(--color-purple);

      }

    }


    a {

      color: var(--color-black);

      &:hover {

        text-decoration: none;

      }

    }
    
  }


}

.about {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--gutter-width);
  margin-bottom: var(--gutter-width);

  .container-fluid {

    margin-left: var(--gutter-width);
    margin-right: var(--gutter-width);
    max-width: 1920px;

    > div {

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      @media screen and (min-width: 1025px) {

        max-width: calc(100% / 1.5);
        align-items: center;

      }

      div:first-child {

        width: 86px;
        margin-right: var(--gutter-width);

        @media screen and (min-width: 1025px) {

          width: 172px;

        }

        img {

          display: block;
          width: 100%;
          height: auto;

        }

      }

      div:last-child {

        width: calc(100% - 118px);

        @media screen and (min-width: 1025px) {

          width: calc(100% - 204px);

        }

        p {

          margin-bottom: 0;

          @media screen and (min-width: 1025px) {
            
            font-size: 1.25rem;

          }

        }

      }

    }

  }

}

.posts {

  display: flex;
  flex-direction: column;
  align-items: center;
  
  .container-fluid {

    margin-left: var(--gutter-width);
    margin-right: var(--gutter-width);
    max-width: 1920px;

    h2 {

      font-family: var(--font-family--heading);
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.562rem;
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: 1025px) {

        font-size: 1.938rem;

      }

      &:after {

        content: '';
        display: block;
        width: calc(var(--gutter-width) * 2.5);
        margin-top: calc((var(--gutter-width) / 4));
        height: 4px;
        background-color: var(--color-purple);


      }

    }

    ul {

      list-style-type: none;
      margin-left: 0;
      margin-bottom: 0;
      display: flex;
      flex-wrap: wrap;

      @media screen and (min-width: 769px) {

        justify-content: space-between;

      }

      li {

        border: 1px solid var(--color-black);
        background-color: var(--color-gray);
        border-radius: var(--border-radius);
        text-align: center;
        width: 100%;
        padding: var(--gutter-width);
        margin-top: var(--gutter-width);

        @media screen and (min-width: 481px) {

        }

        @media screen and (min-width: 601px) {

        }

        @media screen and (min-width: 769px) {

          width: calc(50% - (var(--gutter-width) / 2));

        }

        @media screen and (min-width: 1025px) {

          width: calc((100% / 3 ) - (var(--gutter-width) * 2 / 3));

        }

        @media screen and (min-width: 1281px) {

        }

        @media screen and (min-width: 1441px) {

          width: calc(25% - (var(--gutter-width) * 3 /4));

        }

        @media screen and (min-width: 1921px) {



        }

        span {

          display: block;
          margin-bottom: calc(var(--gutter-width) / 4);
          text-transform: uppercase;
          font-weight: 700;
          color: var(--color-purple);

        }

        h3 {

          font-family: var(--font-family--heading);
          text-transform: uppercase;
          font-size: 1.250rem;
          font-weight: 600;
          margin-bottom: 0;

          @media screen and (min-width: 1025px) {

            font-size: 1.562rem;

          }

          a {

            color: var(--color-black);

          }

        }

      }

    }

  }

}