:root {
  --column-1: 86px;
  --column-3: 320px;
  --column-5: 554px;
  --column-6: 672px;
  --column-8: 786px;
  --column-10: 1142px;
  --column-12: 1376px;
  --gutter-width: 32px;
  --border-radius: 20px;
  --color-black: #272727;
  --color-gray: #FBF6FC;
  --font-family--heading: "Playfair Display", serif;
  --font-family--body: "Source Serif 4",serif;
}

.posts {

  .container-fluid {

    margin-left: var(--gutter-width);
    margin-right: var(--gutter-width);
    
    h2 {

      font-family: var(--font-family--heading);
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;

    }

    ul {

      list-style-type: none;
      margin-left: 0;
      margin-bottom: 0;
      display: flex;
      flex-wrap: wrap;

      li {

        border: 1px solid var(--color-black);
        background-color: var(--color-gray);
        border-radius: var(--border-radius);
        text-align: center;
        width: 100%;
        padding: var(--gutter-width);
        margin-bottom: var(--gutter-width);

        span {}

        h3 {

          font-family: var(--font-family--heading);
          text-transform: uppercase;
          font-size: 1.250rem;
          font-weight: 600;
          margin-bottom: 0;

          a {

            color: var(--color-black);

          }

        }

      }

    }

  }

}