---
layout: landing
---

<aside id="about">
  <div class="container">
    <div class="inner">
      <figure>
        <img src="{{ site.avatar }}" alt="">
      </figure>
      <p>{{ site.description }}</p>
    </div>
  </div>
</aside>

<section id="posts">
  <div class="container">
    {%- if site.posts.size > 0 -%}
      <h2>{{ page.list_title | default: "Selected Work" }}</h2>
      <ul>
        {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {%- if post.tag -%}
            <span>{{ post.tag }}</span>
          {%- endif -%}
          <h3>
            <a href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>  
</section>

